* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li, a, label, input, button, textarea {
    font-family: 'Open Sans', serif !important;
}

body {
    background-color: dimgray;
}

#content-wrapper {
    min-height: 100vh;
}

/*----------------
header
----------------*/

#header {
    height:auto;
    background: black;
    display:flex;
    align-items: center;
    flex-direction: row;
    padding:20px;
}

#header a:hover {
    text-decoration: none;
}

#header h1, #header a {
    color:white;
    font-weight: 400;
    margin:0;
    padding:0;
    margin-left:50px;
    margin-right: auto;
}

.nav-links {
    display:flex;
    flex-direction: row;
    margin-right: 50px;
}

.nav-links li {
    margin-left: 15px;
}

.nav-links a {
    color:white;
}

.nav-links a:hover {
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}




/*-------------
meme generator
--------------*/

#meme-pic {
    width:500px;
    height:auto;
    display: block;
    border-radius: 10px;
    border:3px solid black;
}

.meme-generator {
    margin-top: 100px;
}

.meme {
    position:relative;
}

#top-caption {
    position: absolute;
    top:8px;
    left:3px;
    font-size: 3em;
    right:3px;
    text-align: center;
    color:white;
    font-weight: 700;
   -webkit-text-stroke: 1px black;
}

#bottom-caption {
    position: absolute;
    bottom:-10px;
    right:0;
    font-size: 3em;
    left:0;
    color:white;
    text-align: center;
    font-weight: 700;
   -webkit-text-stroke: 1.25px black;
}

label {
    color:white;
}

.changeColor {
    width:30px;
    height:30px;
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: none;
    border:1px solid white;
    border-radius: 100%;
    margin-bottom: 40px;
}

#colors {
    text-align: center;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
    border:1px solid black;
}

.url {
    display:flex;
    flex-direction: row;
}

.url input {
    margin-right: 15px;
}

#pic-btn {
    padding: 0 30px;
    background: black;
    color:white;
    border:white 1px solid;
    box-shadow: none;
}

#pic-btn:hover {
    background: white;
    color: black;
    border:1px solid black;
    transition:all 0.25s;
}

/*-------------
contact form
--------------*/

.contact-form h2, .about-me h2, .contact-methods h2 {
    color:white;
    font-weight: 400;
    text-align: center;
    margin-bottom:25px;
}

.contact-form label {
    font-weight: 300;
}

.btn-submit {
    box-shadow: none;
    border:1px solid black;
    background:white;
    padding:8px 40px;
    margin: 25px auto 0 auto;
    display: block;
} 

.btn-submit:hover {
    border:1px solid white;
    color:white;
    background:black;
    transition: all 0.5s;
}

/*-----------------
contact - about me
------------------*/

.about-me p {
    font-weight: 300;
    color:white;
}

/*-------------
contact links
--------------*/

.contact-links {
    text-align: center;
}

.contact-links a {
    color:white;
    font-weight: 300;
}

.contact-links li {
    margin-bottom: 10px;
}

.contact-links img {
    padding-right: 10px;
}

.contact-links a:hover {
    text-decoration: none;
    padding-bottom: 5px;
    font-weight: 400;
}

/*-------------
faq page
--------------*/

.question {
    color:white;
    width:80%;
    margin:0 auto 30px auto;
}

.question p {
    font-weight: 300;
}

.question h4 {
    text-align: center;
    font-size:18px;
}

.faqs {
    margin-top:50px;
}

.faqs h1 {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
}

hr {
    width:60%;
    color:white;
    margin-bottom: 50px;
}


/*-------------
media queries
--------------*/

@media (max-width:768px) {
    #header {
        flex-direction: column;
    }
    #header h1 {
        margin:0;
    }
    #header a {
        margin: 0 0 20px 0;
        text-align: center;
    }
    .nav-links {
        flex-direction:column;
        margin:0;
    }
    .nav-links li {
        margin: 0 auto 10px auto;
    }

}

@media (min-width: 624px) {
    .question h4 {
        font-size:24px;
    }
    
    .faqs h1 {
        font-size:32px;
    }
}